h1{
font-family:verdana
color:blue
}
h2{
font-family:verdana
color:blue
}
p{
font-family:verdana
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-i2_UrMO734MhDm6o-7MbK4QYfXpeUcUh_sHlCQfs_4j9VgPQ");
}
