h1{
font-family:verdana
color:blue
}
h2{
font-family:verdana
color:blue
}
p{
font-family:verdana
}
body {
    background-image: url("https://i.pinimg.com/736x/79/b6/f2/79b6f22437cb27c6226ff7b6c198488a--perfect-pink-pretty-in-pink.jpg");
}
